ys1000Repo=jibutech-registry.cn-hangzhou.cr.aliyuncs.com/ys1000

originTag=3.6.0
ys1000Images=(
    ${ys1000Repo}/qiming-operator:${originTag}
    ${ys1000Repo}/webserver:${originTag}
    ${ys1000Repo}/hookrunner:${originTag}
    ${ys1000Repo}/agent-operator:${originTag}
    ${ys1000Repo}/velero:v1.7.0-jibu-dev-4ae6dabe-20231218024139
    ${ys1000Repo}/velero:v1.7.0-jibu-dev-4ae6dabe-20231218024139-snapshotv1beta1
    ${ys1000Repo}/velero-plugin-for-csi:v0.2.1-jibu-89b6bd8-20231218024225
    ${ys1000Repo}/velero-plugin-for-csi:v0.2.1-jibu-89b6bd8-20231218024225-snapshotv1beta1
    ${ys1000Repo}/velero-restic-restore-helper:v1.7.0
    ${ys1000Repo}/velero-plugin-for-aws:v1.3.0
    ${ys1000Repo}/velero-plugin:${originTag}
    ${ys1000Repo}/data-verify:${originTag}
    ${ys1000Repo}/amberapp:${originTag}
    ${ys1000Repo}/dm-agent:${originTag}
    ${ys1000Repo}/restic-dm:${originTag}
    ${ys1000Repo}/mig-ui:${originTag}
    ${ys1000Repo}/mig-discovery:3.2.0
    ${ys1000Repo}/mig-controller:${originTag}
    ${ys1000Repo}/cron:${originTag}
    ${ys1000Repo}/stub:${originTag}
    ${ys1000Repo}/etcd-stub:${originTag}
    ${ys1000Repo}/volsync:0.6.1
    ${ys1000Repo}/dr-initcontainer:0.2.0
    ${ys1000Repo}/imagepuller:0.1.0
    ${ys1000Repo}/apphook-worker:${originTag}
    ${ys1000Repo}/hook-runner:latest
    ${ys1000Repo}/helm-tool:${originTag}
    ${ys1000Repo}/helm-hook:${originTag}
    ${ys1000Repo}/mysql:8.0.32
    ${ys1000Repo}/apiserver:v0.6.2
    ${ys1000Repo}/clustersynchro-manager:v0.6.2
    ${ys1000Repo}/controller-manager:v0.6.2
    ${ys1000Repo}/cloudshell:v0.4.0
    ${ys1000Repo}/dex:1.0.0
)


s3gatewayImages=(
    registry.cn-shanghai.aliyuncs.com/jibutech/nfs-subdir-external-provisioner:v4.0.2
    registry.cn-shanghai.aliyuncs.com/jibutech/bitnami-shell:2022.12.21-debian-11
    registry.cn-shanghai.aliyuncs.com/jibutech/minio-client:2021.12.10-debian-11-r0
    registry.cn-shanghai.aliyuncs.com/jibutech/minio:2021.12.10-debian-11-r0
)

harborImages=(
    docker.io/bitnami/chartmuseum:0.15.0-debian-11-r59
    docker.io/bitnami/harbor-core:2.7.0-debian-11-r8
    docker.io/bitnami/harbor-jobservice:2.7.0-debian-11-r8
    docker.io/bitnami/nginx:1.23.3-debian-11-r11
    docker.io/bitnami/harbor-notary-server:2.7.0-debian-11-r8
    docker.io/bitnami/harbor-notary-signer:2.7.0-debian-11-r8
    docker.io/bitnami/harbor-portal:2.7.0-debian-11-r9
    docker.io/bitnami/postgresql:13.9.0-debian-11-r21
    docker.io/bitnami/redis:7.0.7-debian-11-r7
    docker.io/bitnami/harbor-registry:2.7.0-debian-11-r8
    docker.io/bitnami/harbor-registryctl:2.7.0-debian-11-r8
    docker.io/bitnami/harbor-adapter-trivy:2.7.0-debian-11-r7
    docker.io/bitnami/bitnami-shell:11-debian-11-r71
)

appImages=(
    registry.cn-shanghai.aliyuncs.com/ys1000/ingress-nginx-controller:v0.40.2 
    registry.cn-shanghai.aliyuncs.com/ys1000/kube-webhook-certgen:v1.3.0
    registry.cn-shanghai.aliyuncs.com/ys1000/mysql:5.6 
    registry.cn-shanghai.aliyuncs.com/ys1000/wordpress:4.8-apache 
    registry.cn-shanghai.aliyuncs.com/ys1000/busybox:latest
    registry.cn-shanghai.aliyuncs.com/ys1000/fluentd:v2.5.2
    registry.cn-shanghai.aliyuncs.com/ys1000/kafka:2.8.1-debian-10-r57 
    registry.cn-shanghai.aliyuncs.com/ys1000/kubectl:1.19.16-debian-10-r25 
    registry.cn-shanghai.aliyuncs.com/ys1000/bitnami-shell:10-debian-10-r260 
    registry.cn-shanghai.aliyuncs.com/ys1000/kafka-exporter:1.4.2-debian-10-r67 
    registry.cn-shanghai.aliyuncs.com/ys1000/jmx-exporter:0.16.1-debian-10-r129 
    registry.cn-shanghai.aliyuncs.com/ys1000/zookeeper:3.7.0-debian-10-r188
    registry.cn-shanghai.aliyuncs.com/ys1000/nginx:latest 
    registry.cn-shanghai.aliyuncs.com/ys1000/debian:latest
    docker.io/bitnami/mongodb:6.0.4-debian-11-r0
    docker.io/bitnami/nginx:1.23.3-debian-11-r15
    docker.io/bitnami/kubectl:1.25.5-debian-11-r14
    docker.io/bitnami/bitnami-shell:11-debian-11-r74
    docker.io/bitnami/mongodb-exporter:0.36.0-debian-11-r6
    docker.io/bitnami/postgresql:15.2.0-debian-11-r2
    docker.io/bitnami/bitnami-shell:11-debian-11-r86
    docker.io/bitnami/postgres-exporter:0.11.1-debian-11-r60
    ${ys1000Repo}/okd:latest
)
